<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load staticfiles %}
{% block body_block %}

  <div class="jumbotron">
    {% if registed %}
      <h1>Thank you for registering</h1>

    {% else %}
      <h1>Regiter here...</h1>
      <h2>Fill out the form!!</h2>

      <form class="" action="" enctype="multipart/form-data" method="POST">
        {% csrf_token %}
        {{user_form.as_p}}
        {{profile_form.as_p}}
        <input type="submit" name="" value="Register">
      </form>

    {% endif %}

  </div>


{% endblock body_block %}
